footer
	div(class="footer_menu")
		div(class="main_option")
			h3 Option
			a(href="#") option
        	a(href="#") option
        	a(href="#") option
        

        div(class="main_option")
        	h3 Option
        	a(href="#") option
        	a(href="#") option
        	a(href="#") option
        

        div(class="main_option")
        	h3 Option
        	a(href="#") option
        	a(href="#") option
        	a(href="#") option
        

        div(class="main_option")
        	h3 Option
        	a(href="#") option
       		a(href="#") option
        	a(href="#") option

    div(class="footer_copyright")
    	p ©Copyright 2022 OpenSource.edu
