header
	div(class="logo") 
        h1(id="logo")
			a(href="#") LOGO
        
        div(class="nav")
			a(href="#") Textbook
			a(href="#") Quiz
			a(href="#") Community
			a(href="#") Downloads
			a(href="#") About
			a(id="login" href="#") Login
          
          
        
        