
@media screen and (max-width: 500px) {
    #textbook_pannel{
        display: grid;
    }


    #side_bar{
        visibility: hidden;
    }
        

    #login{
        font-size: 0.8em;
    }

    #side_bar>h2{
        font-size: 1em;
    }
}