extends layout 

block content 
    div(class="middletext")
        h1 Beyond the Books
    div(class="middlebottomtext")
        h1 Know more. Do more.
    div(class="aboutbody")
        div(class="one")
            p We decided on making an Open source textbook website for our project in 1206. <b>Keisuke</b> gave us an idea where we make an Open source textbook website for students to use and other authors who want to share information. The objective of this website is to provide a platform where students can use information on this website freely, without the need to cite the source as it is Open Source. This website also a great platform to use for starting authors to write their own books and potential collaborators can help with providing information which then can impove the contents of the book they are currently working on. Having the feature where people can collaborate on making books makes the website very unique and makes it that the book takes on a different point of view aside from the author.
        div(class="two")
            img(class="aboutIMG", src="images/aboutUs1.png", alt="About Us Img")
