extends layout 

block content 
    br
    h1 We Are NIKEA
    h1 Know more. Do more.
    br
    p We decided on making an Open source textbook website for our project in 1206. Keisuke gave us an idea where we make an Open source textbook website for students to use and other authors who want to share information. The objective of this website is to provide a platform where students can use information on this website freely, without the need to cite the source as it is Open Source. This website also a great platform to use for starting authors to write their own books and potential collaborators can help with providing information which then can impove the contents of the book they are currently working on. This feature itself makes our website unique from other open source textbooks.
