extends layout 

block content
	div(class= "bd-masthead mb-3")
		div.fs-4( class="container px-4 px-md-3")
			div(class ="row align-items-lg-center")
				div(class="col-12 mx-auto col-md-6 order-md-2 col-lg-8")
					div(class="header1_edit")
						h1 Add Book
						p This is where you add your new book.
					hr

					form(method='POST', action='/books/add', onsubmit="submitButton.disabled = true; return true;")
						div(class="label_container")
							label Title: 
							input(name='title', type='text', value=`${(!title) ? '' : title}`)
						
							label Genre:
							select(name='genre')
								each genre in distinctGenre					
									option(selected) #{genre.genre}
						
							label Description:
							textarea(name='description')=description
						
							label Link: 
							input(name='link', type='url', value=`${(!link) ? '' : link}`)
						div(class="button_container")
							button(type="submit", class="buttonsmall", name="submitButton") Create
							| 
							a(href='/books/genre') 
								button(type="button", class="buttonsmall") Add Genre
							| 
							a(href='/users/profile')
								button(type="button", class="buttonsmall") Cancel