extends layout 

block content
	h1 Add Book
	p This is where you add your new book.
	hr
	form(method='POST', action='/books/add')
		div
			label Title: 
			input(name='title', type='text')
		div
			label Genre:
			select(name='genre')
				each genre in distinctGenre
					option(selected) #{genre.genre}
		div
			label Description:
			textarea(name='description')
		div
			label Link: 
			input(name='link', type='url')
		div
			button(type="submit") Create
			| 
			a(href='/books/genre') Add Genre
			| 
			a(href='/users/profile') Cancel