extends layout

block content
	h1 Add Page
	p This is where you add pages to your book.
	hr
	form(method='POST', action='/books/page')
		div
			label Chapter Name:
			textarea(name='chapterName')
		div
			label Page Number:
			textarea(name='pageNumber')
		div
			label Content:
			textarea(name='body')
		div
			button(type="submit") Add Page