extends layout

block content

	div(class="container")
		img(src="https://i.ibb.co/NjqMKYW/10.png" alt="Snow")
		a(href='/books/add', class="btn") PUBLISH NOW
	div
	hr
	label(for="search")
	| 
	input(type="search", id="search", class="search-wrapper", placeholder="Search by Title or Author", data-search)
	|
	h2 Browse through our collection of <strong><u>#{totalbooksCount}</u></strong> books.
	|
	div(class="user-cards", data-book-cards-container)
	template(data-book-template)
		div(class="card")
			div(class="header", data-header)
			div(class="body", data-body)
			div(class="link", data-link)
	script(src='/javascripts/search.js')