extends layout.pug

block content
	main.backgrpund(role="main")
	div.TBflex-container.TBtextbookbaner
		div.align-self-center.d-flex.flex-column.TBpadding1em
			h1.text-center Open Source
			h1.text-center Textbook Project
			a.align-self-center.btn.btn-secondary.TBmargin1em Read more
	div.TBf-Normal-container.d-flex.flex-column.bg-light
		h1.TBmargin1em.text-center.text-body Whose this textbook project for?
		div.TB10container
			div
			div.row
				div.col
					h2.text-body.text-left Group A
					p.text-body Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed sunt natus reiciendis assumenda magni recusandae voluptatum nostrum corporis nobis deserunt a quidem fugit consectetur laudantium aperiam autem expedita, nesciunt ipsum? 
				div.col
					h2.text-body.text-left Group B
					p.text-body Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci ratione sit aliquam itaque ducimus ex expedita explicabo nemo sint. Vitae rem enim facilis laboriosam quae ipsum repellendus nostrum labore aut.
				div.col
					h2.text-body.text-left Group C
					p.text-body Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ad corrupti delectus eaque soluta, temporibus, quasi nihil, quia nam ea minima quibusdam fuga distinctio animi. Atque doloremque voluptate ut quos!
			div

	div.TBflex-container.TBpadding-bottom
		h1.TBmargin1em.text-center Feature of this textbook
		div.TB20container
			div
			div.row
				div.col
					div
						p.text-light Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed sunt natus reiciendis assumenda magni recusandae voluptatum nostrum corporis nobis deserunt a quidem fugit consectetur laudantium aperiam autem expedita, nesciunt ipsum?
					div
						button.btn.btn-secondary.TBmargin1em Read more
				div.col
					div
						p.text-light Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci ratione sit aliquam itaque ducimus ex expedita explicabo nemo sint. Vitae rem enim facilis laboriosam quae ipsum repellendus nostrum labore aut.
					div
						button.btn.btn-secondary.TBmargin1em Read more

			div

	//- !! DO NOT DELETE THE LINE BELOW !!
	//- div.TBcards-wrapper.TBmargin1em
	//- 	div
	//- 	div.row.row-cols-1.row-cols-md-3
	//- 		each book, i in books
	//- 			div.col.mb-4
	//- 				div.card(style='width: 100%;')
	//- 					div.card-body
	//- 						h5.card-title #{book.title}
	//- 						p.card-text
	//- 						| Textbook intro
	//- 						br
	//- 						a.btn.btn-primary(href="/books/"+book.id) View
	//- 	div
			
	
