extends layout

block content

	div(class= "bd-masthead mb-3")
		div.mt-80( class="container px-4 px-md-3")
			div(class ="row align-items-lg-center")
				div(class="row align-items-lg-center")
					div(class="col-8 mx-auto col-md-4 order-md-2 col-lg-5")
						img(class="image" src="/images/Homepage.png" alt="Homepage" width="600")
					div(class="col-md-8 order-md-1 col-lg-7 text-center text-md-start")
						h1.md-3 BEYOND THE BOOKS
						p(class = "lead md-4") Have you work through of writting an academic book, self- help, poetry book, children's book, memoir book that is tailored to your niche?
						h3 IT'S TIME TO BEGIN WRITING YOUR NEW BOOK
						a(href='/books/add', class=" btn btn-primary color-orange") PUBLISH NOW
	div(class= "bd-masthead mb-3")
		div.mt-80( class="container px-4 px-md-3")
			div(class ="row align-items-lg-center")
				div(class="row align-items-lg-center")
					div(class="col-8 mx-auto col-md-4 order-md-2 col-lg-5")
					label(for="search")
					h2.md-3(class = "lead md-4") Browse through our collection of <strong><u>#{totalbooksCount}</u></strong> books.
					input(type="search", id="search", class="search-wrapper", placeholder="Search by Title or Author", data-search)
					div(class="user-cards", data-book-cards-container)
					template(data-book-template)
						div(class="card" )
							div(class="card-body")
								h5(class="card-title", data-header)
								p(class="card-text", data-body)
								a(class="btn btn-outline-primary", data-link)
					script(src='/javascripts/search.js')