extends layout

block content

	//- div(class="container")
	//- 	//- img(src="https://i.ibb.co/NjqMKYW/10.png" alt="Snow")
	//- 	img(src="/images/Homepage.png" alt="Homepage")
	//- 	a(href='/books/add', class="btn") PUBLISH NOW
	div(class= "bd-masthead mb-3")
		div.mt-80( class="container px-4 px-md-3")
			div(class ="row align-items-lg-center")
				div(class="row align-items-lg-center")
					div(class="col-8 mx-auto col-md-4 order-md-2 col-lg-5")
						img(class="image" src="/images/Homepage image.png" alt="Homepage" width="600")
					div(class="col-md-8 order-md-1 col-lg-7 text-center text-md-start")
						md-3(class="font-homepage1") BEYOND THE BOOKS
						p(class="font-homepage2") Have you work through of writting an academic book, self- help,
						p(class="font-homepage2") poetry book, children's book, that is tailored to your niche?
						p(class="font-homepage3") IT'S TIME TO BEGIN WRITING YOUR NEW BOOK
						a.mt-80(href='/books/add', class="btn btn-primary color-orange") PUBLISH NOW
	//- div
	//- hr
	div(class= "bd-masthead mb-3")
		div.mt-80( class="container px-4 px-md-3")
			div(class ="row align-items-lg-center")
				div(class="col-8 mx-auto col-md-4 order-md-2 col-lg-5")
				label(for="search")
				| 
				input(type="search", id="search", class="search-wrapper", placeholder="Search by Title or Author", data-search)
				|
				h2 Browse through our collection of <strong><u>#{totalbooksCount}</u></strong> books.
				|
				div(class="user-cards", data-book-cards-container)
				template(data-book-template)
					div(class="card")
						div(class="header", data-header)
						div(class="body", data-body)
						div(class="link", data-link)
				script(src='/javascripts/search.js')