<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="stylesheet" href="../public/css/Index/index.css">
    <link rel="stylesheet" href="../public/css/Textbook/_@992px.css">
    <link rel="stylesheet" href="../public/css/Textbook/_@500px.css">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="logo">
          <h1 id="logo"><a href="#">LOGO</a></h1>
        </div>
        <div class="nav">
          <a href="#">Textbook</a>
          <a href="#">Quiz</a>
          <a href="#">Community</a>
          <a href="#">Downloads</a>
          <a href="#">About</a>
          <a id="login" href="#">Login</a>
        </div>
    </header>
    <div class="index_conteent">
        <div class="index_banner_haed">
            <div class="index_wrapper_banner">
                <div class="index_title">
                    <h1>Open Source Textbook</h1>
                </div>
                <div class="index_title_button">
                    <div><button onclick=""  class="readme_button">Read me</button></div>
                </div>
            </div>
        </div>
        <div class="index_banner">
            <div class="This_Project_For">
                <h1>Whose this Project for?</h1>
            </div>
            <div class="index_description">
                <h3 class="index_h3">Heading</h3>
                <p class="index_banner_p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum soluta quibusdam libero, deserunt ipsa eligendi impedit qui exercitationem voluptatem earum nihil maiores, ex at id quam quod, molestias odio assumenda!</p>
            </div>

            <div class="index_description">
                <h3 class="index_h3">Heading</h3>
                <p class="index_banner_p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum soluta quibusdam libero, deserunt ipsa eligendi impedit qui exercitationem voluptatem earum nihil maiores, ex at id quam quod, molestias odio assumenda!</p>
            </div>

            <div class="index_description">
                <h3  class="index_h3">Heading</h3>
                <p class="index_banner_p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum soluta quibusdam libero, deserunt ipsa eligendi impedit qui exercitationem voluptatem earum nihil maiores, ex at id quam quod, molestias odio assumenda!</p>
            </div>
        </div>
        <div class="index_pic_pannel">
            <div class="index_detail" id="ind_expl_1">
                <h3 class="index_h3">Heading</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque autem accusamus esse ratione animi ipsam. Quaerat quia porro at pariatur nobis illum sunt consequatur, dicta ipsum nam iste iusto incidunt.</p>
                <div class="index_flex_end">
                    <button href="#"class="readme_button">Read me</button>
                </div>
            </div>
            <div class="index_detail" id="ind_expl_2">
                
            </div>
            <div class="index_detail" id="ind_expl_3">

            </div>
                
            <div class="index_detail" id="ind_expl_4">
                <h3 class="index_h3">Heading</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque autem accusamus esse ratione animi ipsam. Quaerat quia porro at pariatur nobis illum sunt consequatur, dicta ipsum nam iste iusto incidunt.</p>
                <div class="index_flex_end">
                    <button href="#"class="readme_button">Read me</button>
                </div>
            </div>

        </div>
    </div>
    <footer>
    <div class="footer_menu">
        <div class="main_option">
        <h3>Option</h3>
        <a href="#">option</a>
        <a href="#">option</a>
        <a href="#">option</a>
        </div>

        <div class="main_option">
        <h3>Option</h3>
        <a href="#">option</a>
        <a href="#">option</a>
        <a href="#">option</a>
        </div>

        <div class="main_option">
        <h3>Option</h3>
        <a href="#">option</a>
        <a href="#">option</a>
        <a href="#">option</a>
        </div>

        <div class="main_option">
        <h3>Option</h3>
        <a href="#">option</a>
        <a href="#">option</a>
        <a href="#">option</a>
        </div>
    </div>
    <div class="footer_copyright">
        <p>©Copyright 2022 OpenSource.edu</p>
    </div>
    </footer>
</body>
</html>