extends layout

block content
	h1 Home Page
	p This is where all main content will be displayed. 
	hr
	h3 All User Books
	ul
		each book, i in books
			li
				a(href="/books/"+book.id)= book.title

		
		
	
