extends layout

block content
	h1 Home
	p This is where all main content will be displayed. 
	hr
	h3 All User Books
	ul
		each book, i in books
			//- li
			//- 	a(href="/books/"+book.id)= book.title
	div(class="search-wrapper")
		label(for="search") Search Books
		| 
		input(type="search", id="search", data-search)
	div(class="user-cards", data-book-cards-container)
	template(data-book-template)
		div(class="card")
			div(class="header", data-header)
			div(class="body", data-body)
			div(class="link", data-link)
	script(src='/javascripts/search.js')

		
		
	
