extends layout 

block content

	div(class="index_banner_haed")
	div(class="index_wrapper_banner")
		div(class="index_title")
			h1 Open Source Textbook
	div(class="index_title_button")
		button(onclick="", class="readme_button") Read me
	div(class="index_banner")
		div(class="This_Project_For")
			h1 Whose this Project for?
		div(class="index_description")
			h3(class="index_h3") Heading
			p(class="index_banner_p") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum soluta quibusdam libero, deserunt ipsa eligendi impedit qui exercitationem voluptatem earum nihil maiores, ex at id quam quod, molestias odio assumenda!
		

 

	div(class="index_conteent")
		div(class="index_banner_haed")
			div(class="index_wrapper_banner")
				div(class="index_title")
					h1 Open Source Textbook
				div(class="index_title_button")
					div
						button(onclick="", class="readme_button") Read me

		div(class="index_banner")
			div(class="This_Project_For")
				h1 Whose this Project for?            
			div(class="index_description")
				h3(class="index_h3") Heading
				p(class="index_banner_p") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum soluta quibusdam libero, deserunt ipsa eligendi impedit qui exercitationem voluptatem earum nihil maiores, ex at id quam quod, molestias odio assumenda!
            
			div(class="index_description")
				h3(class="index_h3") Heading
				p(class="index_banner_p") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum soluta quibusdam libero, deserunt ipsa eligendi impedit qui exercitationem voluptatem earum nihil maiores, ex at id quam quod, molestias odio assumenda!
            
			div(class="index_description")
				h3(class="index_h3") Heading
				p(class="index_banner_p") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum soluta quibusdam libero, deserunt ipsa eligendi impedit qui exercitationem voluptatem earum nihil maiores, ex at id quam quod, molestias odio assumenda!
            
        
			div(class="index_pic_pannel")
				div(class="index_detail", id="ind_expl_1")
					h3(class="index_h3") Heading
					p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque autem accusamus esse ratione animi ipsam. Quaerat quia porro at pariatur nobis illum sunt consequatur, dicta ipsum nam iste iusto incidunt.
					div(class="index_flex_end")
						button(href="#", class="readme_button") Read me

				div(class="index_detail", id="ind_expl_2")
                
            
				div(class="index_detail", id="ind_expl_3")
            
                
				div(class="index_detail", id="ind_expl_4")
					h3(class="index_h3") Heading
					p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque autem accusamus esse ratione animi ipsam. Quaerat quia porro at pariatur nobis illum sunt consequatur, dicta ipsum nam iste iusto incidunt.
					div(class="index_flex_end")
						button(href="#", class="readme_button") Read me




	
	
	
