DOCTYPE(html)
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="../stylesheets/style.css")
		block title
			title OpenSourceTextbook
	header
		div
		if user
			p Welcome #{user.firstName}!
		div
		a(href='/') Home
			| 
			if user
				a(href='/books/add') Add Book
				| 
				a(href='/users/profile') Profile
				| 
				a(href='/users/logout') Logout
			else 
				a(href='/login') Login
				| 
				a(href='/register') Register
	body
		!= messages('message', locals)
		if errors
			each error, i in errors
				div(class="alert alert-danger") #{error.msg}
		block content
	footer
		p Copyright &copy; 2021