doctype HTML
html
    head
        title = title
        link(rel='stylesheet', href='../stylesheets/style.css')
    header
        div
            a(href='./') Index
            &nbsp
            a(href='./users') Login
    body
        block content
    footer Footer

