doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="/stylesheets/search.css")
		//- <!--Google Font -->
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css2?family=McLaren&family=Roboto&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css")
		block script
		block title
			title OpenSourceTextbook
	div(id="wrapper")
	header
		//- img(src="https://i.ibb.co/wBK49jh/Logo.png" alt="OpensourceTB" style={height: "120px"})
		img(src="/images/logo.jpg" alt="OpensourceTB" style={height: "120px"})
		
		if user
			p(class="name") Welcome #{user.firstName}!
		div
			if user
				a(href='/users/logout', class="buttonsmall") Logout
				|
				a(href='/users/profile', class="buttonsmall") Profile
			else 
				a(href='/login', class="button") Login
				| 
				a(href='/register', class="button") Register
	nav
		ul
				a(href='/', class="active") HOME
				a(href='/') GENRE
				a(href='/') ABOUT US
	main
		<article>
		body
			!= messages('message', locals)
			if errors
				each error, i in errors
					div(class="alert alert-danger") #{error.msg}
			block content		
		</article> 
	</main> 
		<footer class="mt-50">
		<address>
			p OpenSource Textbook empowers and connects authors and readers through open accessto a global reading and publishing platform.
			p Vancouver Community College, Vancouver, B.C., Canada
			p Copyright &copy; 2021