extends layout

block content
	h1 Login
	p This is where you login after registering.
	hr
	form(action="/users/login", method='POST')
		div
			label(for="email") Email:
			input(type="email", id="email", name="email", required=true)
		div
			label(for="password") Password:
			input(type="password", id="password", name="password", required=true)
		div
			button(type="submit", class="button") Login
			<p>Dont have an OpenSource Textbook account?<a href="/users/register" title="Signup"><b> Sign Up</a></p>