extends layout

block content
	//- h1 Login
	//- p This is where you login after registering.
	//- hr
	div(class= "bd-masthead mb-3")
		div.fs-4( class="container px-4 px-md-3")
			div(class ="row align-items-lg-center")
				div(class="col-12 mx-auto col-md-6 order-md-2 col-lg-8")
					form(action="/users/login", method='POST')
						fieldset
							p(class="fieldsettitle") Log in to OpenSource Textbook
							div
								label(for="email") Email:
								input(type="email", id="email", name="email", required=true)
							div
								label(for="password") Password:
								input.fs-4(type="password", id="password", name="password", required=true)
							div
								<p class="fs-5">Dont have an OpenSource Textbook account?<a href="/users/register" title="Signup"><b> Sign Up</a></p>
								button(alt="login" type="submit", class="btn btn-primary") Login
						</fieldset>