extends layout

block content
	h1 Login Page
	p This is where you login after registering.
	hr
	form(action="/users/login", method='POST')
		div
			label(for="email") Email:
			input(type="email", id="email", name="email", required=true)
		div
			label(for="password") Password:
			input(type="password", id="password", name="password", required=true)
		div
			button.btn.btn.btn-outline-success(type="submit") Login