extends layout

block content
	div.bg-blue.register-login-container-flex.padding-sm.padding-top-100px
		div.register-login-container-flex.text-dark.bg-smokeWhite.rounded.p-10px
			h1 Login
			hr
			form(action="/users/login", method='POST')
				div
					label(for="email") Email
					br
					input(type="email", id="email", name="email", required=true)
				div
					label(for="password") Password
					br
					input(type="password", id="password", name="password", required=true)
				div.m-10px
					button.btn.btn-success(type="submit") Login
				div.text-end
					a(href='/register') Not registered?