extends layout 

block content

div(class="login_pannel")
	div(class="login_prompt")
		h2 Welcome Back!

		form(action="")
			label(for="fname") Email
			br
			input(class="log_input" type="text")
			br
			label(for="fname") Password 
			br
            input(class="log_input" type="password" name="password")
			br
			button(class ='login_button') Login
            
    