extends layout

block content
	div.book-container.bg-blue
		div
		div.text-light 
			h1 Change Password
			hr
			form(action="/users/modify/password", method='POST')
				div
					label(for="current_password") Current Password:
					br
					input.rounded(type="password", id="current_password", name="current_password")
				div
					label(for="new_password") New Password:
					br
					input.rounded(type="password", id="new_password", name="new_password")
				div
					label(for="confirm_new_password") Confirm New Password:
					br
					input.rounded(type="password", id="confirm_new_password", name="confirm_new_password")
				div.m-10px
					button.btn.btn-outline-success(type="submit") Update
					| 
					a.btn.btn-outline-warning(href='/users/profile') Cancel