extends layout

block content
	div(class="body_content")
		div(class="banner_edit")
			h1 Modify Book
			p This is where you edit details of your book. 
		
		div(class="modify_container")
			form(action=`/books/modify/${book.id}`, method='POST')
				div(class="label_container")
					label(for="title") Title: 
					input(type="text", id="text", name="title", class="title_input")
					
					label Genre: 
					select(name='genre', class="genre_select")
						each genre in distinctGenre
							option(selected) #{genre.genre}
					
					label Description: 
					textarea(name='description', class="content_input")

					div(class="button_container")
						button(type="submit", class="button_edit") Update
						| 
						//-a(href=`/books/${book.id}`, class="button_link") Cancel
						
						a(href=`/books/${book.id}`)
							button(type="button", class="button_edit") Cancel

					
					