extends layout

block content
	h1 Change Password
	p This is where you edit your profile and password. 
	hr
	form(action="/users/modify/password", method='POST')
		div
			label(for="current_password") Current Password:
			input(type="password", id="current_password", name="current_password")
		div
			label(for="new_password") New Password:
			input(type="password", id="new_password", name="new_password")
		div
			label(for="confirm_new_password") Confirm New Password:
			input(type="password", id="confirm_new_password", name="confirm_new_password")
		div
			button(type="submit") Update
			| 
			a(href='/users/profile') Cancel