extends layout

block content
	h1 Users Page
	p This is where all the information is displayed after you login.
	hr
	p Fullname: #{user.firstName + ' ' + user.lastName}
	p Birthday: #{user.birthday}
	