extends layout 

block content

div(id="textbook_pannel")
	// <!-- The mother of the all content -->
	div(class="textbook_content")
		// <!-- all textbook content will be displayed  -->
		div(class="textbook_title")
			h1(id="chapter_title") Title

		div(class="introduction")
			p(class="textbook_sentence") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia pariatur quam quidem inventore illum. Error, ab quae, quo voluptas libero tempore eaque maxime voluptatem similique praesentium sint! Fuga, illum provident. Error, ab quae, quo e eaque maxime voluptatem similique praesentium sint! Fuga, illum provident. Error, ab quae, quo voluptas libero tempore eaque maxime voluptatem similique praesentium sint! Fuga, illum provident provident. Error, ab quae, quo voluptas libero tempore eaque maxime provident. Error, ab quae, quo voluptas libero tempore eaque maxime provident. Error, ab quae, quo voluptas libero tempore eaque maxime.

		div(class="explanation", id="expl_1")
			h3(class="expl_heading") Heading
			p(class="textbook_sentence") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia pariatur quam quidem inventore illum. Error, ab quae, quo voluptas libero tempore eaque maxime volup inventore ill tatem similique praesentium sint! Fuga, illum provident. Error, ab quae, quo voluptas libero tempore eaque maxime voluptatem similique praesentium sint! Fuga, illum provident.
		
		div(class="illustration", id = "ill_1")
			// <!-- Picture -->

		div(class="illustration", id = "ill_2")
			// <!-- Picture -->

		div(class="explanation", id="expl_2")
			h3(class="expl_heading") Heading
			p(class="textbook_sentence") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia pariatur quam quidem inventore illum. Error, ab quae, quo voluptas libero tempore eaque maxime volup inventore ill tatem similique praesentium sint! Fuga, illum provident. Error, ab quae, quo voluptas libero tempore eaque maxime voluptatem similique praesentium sint! Fuga, illum provident.

		div(class="conclusion")
			h3(class ="expl_heading") Conclusion
			p(class="textbook_sentence") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia pariatur quam quidem  inventore ill inventore illum. Error, ab quae, quo voluptas libero tempore eaque maxime voluptatem similique praesentium sint! Fuga, illum provident. Error, ab quae, quo voluptas libero tempore eaque maxime voluptatem dolor sit, amet consectetur adipisicing elit. Mollitia pariatur quam quidem  inventore ill inventore illum. Error, ab quae, quo voluptas libero tempore eaque maxime voluptatem similique praesentium sint! Fuga, illum provident. Error, ab quae, quo voluptas libero tempore eaque maxime voluptatem dolor sit, amet consectetur adipisicing elit. Mollitia pariatur quam quidem inventore ill inventore illum. Error, ab quae, quo voluptas libero tempore eaque maxime voluptatem similique praesentium sint! Fuga, illum provident. Error, ab quae, quo voluptas libero tempore eaque maxime voluptatem similique praesentium sint! Fuga, illum provident.

	div(id="side_bar")
		//<!-- side bar for chapter menu -->
		h2 Textbook Index
		div(class="textbook_index")
			a(class="chapter", href="#") Chapter
			a(class="chapter", href="#") Chapter
			a(class="chapter", href="#") Chapter
			a(class="chapter", href="#") Chapter
			a(class="chapter", href="#") Chapter
			a(class="chapter", href="#") Chapter
			a(class="chapter", href="#") Chapter
			a(class="chapter", href="#") Chapter
