<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="stylesheet" href="../public/css/Textbook/textbook.css">
    <link rel="stylesheet" href="../public/css/Textbook/_@992px.css">
    <link rel="stylesheet" href="../public/css/Textbook/_@500px.css">
    <title>Open Source Textbook</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <h1 id="logo"><a href="#">LOGO</a></h1>
      </div>
      <div class="nav">
        <a href="#">Textbook</a>
        <a href="#">Quiz</a>
        <a href="#">Community</a>
        <a href="#">Downloads</a>
        <a href="#">About</a>
        <a id="login" href="#">Login</a>
      </div>
    </header>
    <div id="textbook_pannel">
      <!-- The mother of the all content -->
      <div class="textbook_content">
        <!-- all textbook content will be displayed  -->
        <div class="textbook_title">
          <h1 id="chapter_title">Title</h1>
        </div>

        <div class="introduction">
          <p class="textbook_sentence">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia
            pariatur quam quidem inventore illum. Error, ab quae, quo voluptas
            libero tempore eaque maxime voluptatem similique praesentium sint!
            Fuga, illum provident. Error, ab quae, quo e eaque maxime voluptatem similique praesentium sint!
            Fuga, illum provident. Error, ab quae, quo voluptas libero tempore
            eaque maxime voluptatem similique praesentium sint! Fuga, illum
            provident provident. Error, ab quae, quo voluptas libero tempore
            eaque maxime provident. Error, ab quae, quo voluptas libero tempore
            eaque maxime provident. Error, ab quae, quo voluptas libero tempore
            eaque maxime.
          </p>
        </div>

        <div class="explanation" id="expl_1">
          <h3 class="expl_heading">Heading</h3>
          <p class="textbook_sentence">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia
            pariatur quam quidem inventore illum. Error, ab quae, quo voluptas
            libero tempore eaque maxime volup inventore ill tatem similique praesentium sint!
            Fuga, illum provident. Error, ab quae, quo voluptas libero tempore
            eaque maxime voluptatem similique praesentium sint! Fuga, illum
            provident.
          </p>
        </div>

        <div class="illustration" id = "ill_1">
            <!-- Picture -->
        </div>
        <div class="illustration" id = "ill_2">
            <!-- Picture -->
        </div>

        <div class="explanation" id="expl_2">
          <h3 class="expl_heading">Heading</h3>
          <p class="textbook_sentence">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia
            pariatur quam quidem inventore illum. Error, ab quae, quo voluptas
            libero tempore eaque maxime volup inventore ill tatem similique praesentium sint!
            Fuga, illum provident. Error, ab quae, quo voluptas libero tempore
            eaque maxime voluptatem similique praesentium sint! Fuga, illum
            provident.
          </p>
        </div>

        <div class="conclusion">
          <h3 class ="expl_heading">Conclusion</h3>
            <p  class="textbook_sentence">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia
              pariatur quam quidem  inventore ill inventore illum. Error, ab quae, quo voluptas
              libero tempore eaque maxime voluptatem similique praesentium sint!
              Fuga, illum provident. Error, ab quae, quo voluptas libero tempore
              eaque maxime voluptatem dolor sit, amet consectetur adipisicing elit. Mollitia
              pariatur quam quidem  inventore ill inventore illum. Error, ab quae, quo voluptas
              libero tempore eaque maxime voluptatem similique praesentium sint!
              Fuga, illum provident. Error, ab quae, quo voluptas libero tempore
              eaque maxime voluptatem dolor sit, amet consectetur adipisicing elit. Mollitia
              pariatur quam quidem  inventore ill inventore illum. Error, ab quae, quo voluptas
              libero tempore eaque maxime voluptatem similique praesentium sint!
              Fuga, illum provident. Error, ab quae, quo voluptas libero tempore
              eaque maxime voluptatem similique praesentium sint! Fuga, illum
              provident.
            </p>
          </div>
  
      </div>

      <div id="side_bar">
        <!-- side bar for chapter menu -->
        <h2>Textbook Index</h2>
        <div class="textbook_index">
          <a class="chapter" href="#">Chapter</a>
          <a class="chapter" href="#">Chapter</a>
          <a class="chapter" href="#">Chapter</a>
          <a class="chapter" href="#">Chapter</a>
          <a class="chapter" href="#">Chapter</a>
          <a class="chapter" href="#">Chapter</a>
          <a class="chapter" href="#">Chapter</a>
          <a class="chapter" href="#">Chapter</a>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer_menu">
        <div class="main_option">
          <h3>Option</h3>
          <a href="#">option</a>
          <a href="#">option</a>
          <a href="#">option</a>
        </div>

        <div class="main_option">
          <h3>Option</h3>
          <a href="#">option</a>
          <a href="#">option</a>
          <a href="#">option</a>
        </div>

        <div class="main_option">
          <h3>Option</h3>
          <a href="#">option</a>
          <a href="#">option</a>
          <a href="#">option</a>
        </div>

        <div class="main_option">
          <h3>Option</h3>
          <a href="#">option</a>
          <a href="#">option</a>
          <a href="#">option</a>
        </div>
      </div>
      <div class="footer_copyright">
        <p>©Copyright 2022 OpenSource.edu</p>
      </div>
    </footer>
  </body>
</html>
