extends layout.pug

block content
	main.backgrpund(role="main")
	div.TBflex-container.TBtextbookbaner
		div.align-self-center.d-flex.flex-column.TBpadding1em
			h1.text-center Open Source
			h1.text-center Textbook Project
			a.align-self-center.btn.btn-secondary.TBmargin1em Read more

	
		div.TBcards-wrapper.TBmargin1em
			div
			div.row.row-cols-1.row-cols-md-3
				each book, i in books
					div.col.mb-4
						div.card(style='width: 100%;')
							div.card-body
								h5.card-title #{book.title}
								p.card-text
								| Textbook intro
								br
								a.btn.btn-primary(href="/books/"+book.id) View
			div
			
	
