.search-wrapper {
	display: flex;
	flex-direction: column;
	padding: 10px;
	min-width: 60%;
	width: 40%;
	right: 10px;
	background: #CFDFFF;
	border: 1px solid #CFDFFF;
	box-sizing: border-box;
	border-radius: 30px;
	float: right;
	margin-bottom: 10px;
  }
  
  input {
	font-size: 1rem;
  }
  
  .user-cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 1.5em;
	margin-top: 1rem;

  }

  

  .hide {
	display: none;
  }