body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
	color: #00B7FF;
  }  
  
  div {
	  padding: 2px;
  }
  h1 {
	color: #000472;
}
  h2 {
	  color: #000472;
  }

  h3 {
	  color: #e93508
  }
  
  header {
	  background-color: #000472;
	  color: #ffffff;
	  text-align: left
  }
  
  #nav_style {
	  background-color: #19a722;
	  float: left;
	  width: 20%;
	  box-sizing: border-box;
	  max-width: 100%;
	  height: auto
  }
  
  #main_area_style {
	  background-color: #272adf;
	  float: right;
	  width: 80%;
	  box-sizing: border-box;
	  max-width: 100%;
	  height: auto
  }
  
  footer {
	  background-color: #000472;
	  color: #ffffff;
	  text-align: center;
	  clear: both;
  }
  
  .alert-error{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
  }

  .alert-failure{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
  }
  
  .alert-success_msg{
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
  }

  .alert-danger{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
  }  

  .alert-success{
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
  }
/* ANN LAUREN*/
header  { 
  display: flex; 
  flex-direction: column; 
}
nav > ul { 
  display: flex; 
  justify-content: flex-start; 
}
main { 
  display: flex; 
  flex-direction: column; 
}
footer {
  text-align: center; 
}
@media screen and (min-width: 768px) { 
  header { 
    flex-direction: row; 
    justify-content: space-between; 
  } 
  main { 
    flex-direction: row; 
  }
  article { 
    order: 2; 
	flex-basis: 100%; 
  }
  .info1 { 
    order: 1; 
    flex-basis: 25%; 
  }
  .info2 { 
    order: 3; 
    flex-basis: 15%;
  }
}
header { 
	background: #000472; 
	color: #fff; 
	padding: .5rem .5rem .5rem .5rem; 
	margin: 0 ; 
}
body { 
	background: white; 
	font-family: "McLaren", sans; 
	margin: 0px;
}
#wrapper { 
	background: #000472; 
	margin: 0 auto; max-width: 100%
}
.test { 
	display: none; 
}
h1 { 
	padding: 0; 
	margin: 0 0 1rem 0; 
	font-family: "McLaren" 
}
nav { 
	/* background: #3c3c52;  */
	background: #555FD5;
	background: -webkit-linear-gradient(top, #555FD5, #152144);
	background: -moz-linear-gradient(top, #555FD5, #152144);
	background: linear-gradient(to bottom, #555FD5, #152144);
	padding: 0; 
	margin: 0; 
	font-size: 20px; 
}
nav ul, nav li, aside ul, aside li { 
	list-style-type: none; 
	padding: 0; 
	margin: 0; 
}
nav a { 
	color: #eee; 
	text-decoration : none; 
	padding: 1rem; 
}
nav a.active { 
	color: white; 
}
nav a:hover, nav a:focus { 
	text-decoration: underline; 
}
main { 
	padding: 0; 
}
main a { 
	text-decoration: none; 
}
article { 
	padding: 1rem 1rem 1rem 1rem; 
	background: white;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
aside { 
	padding: 0 1rem 1rem 1rem; 
	background: white;
  }
aside.info1 { 
	background: #CFDFFF; 
}
aside.info2 { 
	background: #eee; 
}
footer { 
	padding: 1rem; 
	border-top: 1px dotted #d9d9d9;
}
address { 
	font-style: normal; 
	letter-spacing: 2px; 
	font-size: 0.75rem; 
	color: #bbb; 
}
.name { 	
	font-family: McLaren;
  	font-style: normal;
  	font-weight: normal;
  	font-size: 20px;
  	margin-top: 5px;
	letter-spacing: 2px;
}
/* Profile, logout */
.buttonsmall {
	height: 25px;
	min-width: 140px;
	padding:.2em;
	margin: 0px;
	left: 5px;
	right: 5px;
	top: 5px;
	bottom: 5px;
	margin-right: 10px;
	border-radius:10em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-size: 16px;
	color:#FFFFFF;
	text-align:center;
	position: relative;
	float: right;
	background-color: #4c4c68;
	margin-bottom: 10px;
	cursor: pointer;
	box-shadow: none;
  }
  .buttonapprove {
	height: 25px;
	min-width: 140px;
	padding:.2em;
	margin: 0px;
	left: 5px;
	right: 5px;
	top: 5px;
	bottom: 5px;
	margin-right: 10px;
	border-radius:10em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-size: 16px;
	color:#FFFFFF;
	text-align:center;
	background-color: #000472;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	box-shadow: none;
	border-color: none;
	outline: none;
	border: none;
  }
/* Register, Login */
.button {
	height: 35px;
	min-width: 150px;
	padding:.2em;
	margin: 0px;
	top: 5px;
	margin-right: 30px;
	border-radius:10em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-size: 20px;
	font-weight: 500;
	font-weight: bold;
	color:#FFFFFF;
	text-align:center;
	letter-spacing: 2px;
	float: right;
	background-image: linear-gradient(to right, #e73c11 0%, #F16529  51%, #E44D26  100%);
	border-style: none;
	margin-bottom: 10px;
	cursor: pointer;
  }
.buttoncore-update, .buttoncore-delete {
	height: 35px;
	min-width: 260px;
	width: 95%;
	padding:.4em;
	border-radius:.5em;
	box-sizing: border-box;
	text-decoration:none;
	font-size: 18px;
	font-weight: 500;
	font-weight: bold;
	color:#FFFFFF;
	text-align:center;
	letter-spacing: 2px;
	float: left;
	/* background-image: linear-gradient(to right, #e73c11 0%, #F16529  51%, #E44D26  100%); */
	border-style: none;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	font-family: 'Mplus 1p',sans-serif;
	font-style: normal;
  }
  .buttoncore-update {
	background-image: linear-gradient(to right, #e73c11 0%, #F16529  51%, #E44D26  100%);
  }
  .buttoncore-delete {
	/* background-image: linear-gradient(to right, #e73c11 0%, #F16529  51%, #E44D26  100%); */
	background-color: #000472;
  }
.image {
	max-width: 100%;
	height: auto;
}
.container {
	position: sticky;
	max-width: 100%;
	height: auto;
}
.container img {
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.container .btn {
	position: absolute;
	top: 70%;
	left: 20%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%); 
	background-color: #E44D26;
	color: white;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius:10em;
	text-align: center;
	height: 25px;
	min-width: 150px;
	padding: 5px; 
	margin-left: 10%;
	margin-top: 40px;
	display: flex;
	font-family:'Roboto',sans-serif;
	font-weight: 500;
	font-weight: bold;
	color:#FFFFFF;
	letter-spacing: 5px;
	text-decoration:none;
	flex-shrink: inherit;
}
.container .btn:hover {
	background-color: #e73c11;
}

input[type=text], select, [type=number], [type=password], [type=email], [type=date], [type=url] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
textarea {
	width: 100%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
}
fieldset { 
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 60px;
	margin-bottom: 60px;
	font-family:'Roboto',sans-serif;
	border-radius:.5em;
}
.fieldsettitle{ 
	font-family:'Roboto',sans-serif;
	font-size: 26px;
	font-weight: 800;
	text-align: center;
	color: #000472;
	margin-bottom: 50px;
}
  