body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
	color: #00B7FF;
  }  
  
  div {
	  padding: 2px;
  }
  
  h2 {
	  color: #00B7FF;
  }

  h3 {
	  color: #06ad00
  }
  
  header {
	  background-color: #000472;
	  color: #ffffff;
	  text-align: left
  }
  
  #nav_style {
	  background-color: #19a722;
	  float: left;
	  width: 20%;
	  box-sizing: border-box;
	  max-width: 100%;
	  height: auto
  }
  
  #main_area_style {
	  background-color: #272adf;
	  float: right;
	  width: 80%;
	  box-sizing: border-box;
	  max-width: 100%;
	  height: auto
  }
  
  footer {
	  background-color: #000472;
	  color: #ffffff;
	  text-align: center;
	  clear: both;
  }
  
  .alert-error{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
  }

  .alert-failure{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
  }
  
  .alert-success_msg{
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
  }

  .alert-danger{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
  }

  .alert-success{
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
  }
  